.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000081;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal>.title-box {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--dark-grey);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative;
    color: var(--dark-grey);
}

.modal>.title-box>.icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    cursor: pointer;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and  (max-width: 550px) {

    .modal {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    
}