.nav-list {
    list-style-type: none;
    display: flex;
    gap: 28px;
    height: 10px;
}

.nav-list>li>a {
    text-decoration: none;
    color: var(--dark-grey);
    font-weight: 600;
    transition: .5s;
}

.nav-list>li>a:hover {
    color: var(--theme-color);
}

.column-type-list {
    flex-direction: column;
}