.SideBarMenu-container {
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--white);
    width: 100vw;
    max-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
    gap: 20px;
    padding: 10px;
    padding-top: 25px;
    transition: 1s;
}

.navbar-container {
    padding-right: 20px;
    display: flex;
    justify-content: right;
    width: 100%;
}

.SideBarMenu-container .close-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 25px;
    color: var(--dark-grey);
}