.accordion {
    width: 100%;
    overflow: hidden;
    background-color: var(--very-light-grey);
    border-radius: 10px;
    transition: 1s;
}

.accordion>.header {
    height: 70px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 1s;
    background-color: var(--white);
}

.accordion>.header>h3 {
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: bold;
}

.accordion>.header>.icon {
    justify-self: left;
    color: var(--dark-grey);
    font-size: 18px;
    position: absolute;
    left: 25px;
}

.ac-body {
    padding: 15px;
}

@media screen and (max-width: 400px) {
    .accordion>.header>h3 {
        font-size: 14px;
    }

    .accordion>.header>.icon {
        font-size: 12px;
    }
}